<html>
  <head>
    <title>Editar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <meta charset="utf-8">  
  </head>
  <header class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand btn" routerLink="/home">Home Easy</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn btn-primary" [routerLink]="['/usuario', userId]" role="button">Perfil</a>
        <a class="btn btn-primary" routerLink="/feed" role="button">Feed</a>
        <a class="btn btn-primary" routerLink="/sobrenos" role="button">Sobre Nós</a>
        <a class="btn btn-primary" routerLink="/contato" role="button">Contato</a>
        <a class="btn btn-primary" routerLink="/login" role="button" *ngIf="!entrarSair">Entrar</a>
        <a class="btn btn-danger" (click)="sair()" role="button" *ngIf="entrarSair">Sair</a>
      </div>
    </div>
   
  </header>

  <body>
    <h3>Mudar Informações do Perfil</h3>
    <form #f="ngForm">
      <div class="form-group">
        <label>Nome:</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="nome">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Idade:</label>
          <input type="number" class="form-control" [(ngModel)]="usuario.idade" name="idade">
        </div>
        <div class="form-group col-md-6">
          <label>Telefone:</label>
          <input type="tel" class="form-control" [(ngModel)]="usuario.telefone" name="telefone">
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>CPF:</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.cpf" name="cpf"> 
        </div>
        <div class="form-group col-md-6">
          <label>CNPJ:</label>
          <input type="text" class="form-control" [(ngModel)]="usuario.cnpj" name="cnpj"> 
        </div>
      </div>
      <div class="form-group">
        <label>Endereço:</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.endereco" name="endereco">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Estado:</label>
          <select class="form-control" [(ngModel)]="usuario.estado" name="estado">
            <option>Pernambuco</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputCity">Cidade:</label>
          <input type="text" class="form-control" id="inputCity" [(ngModel)]="usuario.cidade" name="cidade">
        </div>
      </div>
      <div class = "text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid" (click)="editarInfo()">Editar Informações</button>
      </div>
    </form>

    <form #fo="ngForm">
      <div class="form-group">
        <h3>Mudar Foto de Perfil</h3>
        <label for="inputState">Foto de Perfil:</label><br>
        <input type="file" (change)="upload($event)" accept="*.png.jpg" name="foto" required><br><br>
        <div class = "text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!fo.valid" (click)="editarImg()">Editar Foto de Perfil</button>
        </div>
      </div>
    </form>

    <form #for="ngForm">
      <div class="form-group">
        <h3>Redes Sociais</h3>
        <div class="form-row">
          <div class="input-group mb-3 form-group col-md-6">
            <label><h2><i class="fab fa-instagram"></i></h2><br></label><br>
            <input type="text" class="form-control" placeholder="Nome de Usuário..." name="instagram" [(ngModel)]="usuario.instagram">
          </div>
          <div class="input-group mb-3 form-group col-md-6">
            <label><h2><i class="fab fa-facebook"></i></h2><br></label><br>
            <input type="text" class="form-control" placeholder="URl / Link do seu Perfil..." name="facebook" [(ngModel)]="usuario.facebook">
          </div>
        </div>
        <div class="form-row">
          <div class="input-group mb-3 form-group col-md-6">
            <label><h2><i class="fab fa-twitter"></i></h2><br></label><br>
            <input type="text" class="form-control" placeholder="Nome de Usuário / @..." name="twitter" [(ngModel)]="usuario.twitter">
          </div>
          <div class="input-group mb-3 form-group col-md-6">
            <label><h2><i class="fab fa-linkedin-in"></i></h2><br></label><br>
            <input type="text" class="form-control" placeholder="URl / Link do seu Perfil..." name="LinkedIn" [(ngModel)]="usuario.linkedIn">
          </div>
        </div>
        <div class="input-group mb-3">
          <label><h2><i class="fas fa-mouse-pointer"></i></h2><br></label><br>
          <input type="text" class="form-control" placeholder="URl / Link do seu Site..." name="site" [(ngModel)]="usuario.site">
        </div>
        <div class = "text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!for.valid" (click)="editarInfo()">Editar Informações</button>
        </div>
      </div>
    </form>
    
  </body>

</html>
