<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>Contato</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Conecte-se Conosco</h1>
    <p>Vamos adorar responder suas duvidas! É gratuito!</p>
    <div class="contact-box">
        <div class="contact-left"><h3>Mande sua pergunta</h3>
            <form #f="ngForm">
                <div class="input-row">
                    <div class="input-group">
                     <label>Nome</label>
                     <input type="text" placeholder="Seu nome" [(ngModel)] = "mensagem.nome" name="nome" required> 
                    </div>
                    <div class="input-group">
                        <label>Telefone</label>
                        <input type="text" placeholder="Seu telefone" [(ngModel)] = "mensagem.telefone" name="telefone" required>
                       </div>
                </div>
                       <div class="input-row">
                       <div class="input-group">
                        <label>Email</label>
                        <input type="email" class ="email" placeholder="Seu Email" [(ngModel)] = "mensagem.email" name="email" required email #email="ngModel">
                       </div>
                       <div class="input-group">
                           <label>Assunto</label>
                           <input type="text" placeholder="Assunto" [(ngModel)] = "mensagem.assunto" name="assunto" required>
                          </div>
                       </div>

                       <label>Mensagem</label>
                       <textarea rows="5" placeholder="Digite a sua mensagem" [(ngModel)] = "mensagem.mensagem" name="mensagem" required></textarea>
                       <button type="submit" [disabled]="!f.valid" (click)="enviarmensagem()">ENVIAR</button>
                </form>
    </div>
        <div class="contact-right"><h3>Nos encontre em:</h3>
            <table>
                <tr>
                    <td>Email: </td>
                    <td>contatohomeeasy@gmail.com</td>
                </tr>
                <tr>
                    <td>Telefone: </td>
                    <td>3761-xxx</td>
                </tr>
                <tr>
                    <td>Endereço: </td>
                    <td>Terezinha - PE, Canhotinho - PE, Bom conselho - PE</td>
                </tr>   
            </table>
    </div>
        
    </div>
</div>

</body>



</html>
