<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Contato</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Conecte-se Conosco</h1>
    <p>Vamos adorar responder suas duvidas! É gratuito!</p>
    <div class="contact-box">
        <div class="contact-left"><h3>Mande sua pergunta</h3>
            <div class="group" id="group">
                <div class="input-row">
                    <div class="input-group">
                     <label>Nome</label>
                     <input type="text" placeholder="Seu nome" [(ngModel)] = "mensagem.nome">
                    </div>
                    <div class="input-group">
                        <label>Telefone</label>
                        <input type="text" placeholder="Seu telefone" [(ngModel)] = "mensagem.telefone">
                       </div>
                </div>
                       <div class="input-row">
                       <div class="input-group">
                        <label>Email</label>
                        <input type="email" placeholder="Seu Email" [(ngModel)] = "mensagem.email">
                       </div>
                       <div class="input-group">
                           <label>Assunto</label>
                           <input type="text" placeholder="Assunto" [(ngModel)] = "mensagem.assunto">
                          </div>
                       </div>

                       <label>Mensagem</label>
                       <textarea rows="5" placeholder="Digite a sua mensagem" [(ngModel)] = "mensagem.mensagem"></textarea>
                       <button type="submit" (click)="enviarmensagem()">ENVIAR</button>
                </div>
    </div>
        <div class="contact-right"><h3>Nos encontre em:</h3>
            <table>
                <tr>
                    <td>Email: </td>
                    <td>contatohomeeasy@gmail.com</td>
                </tr>
                <tr>
                    <td>Telefone: </td>
                    <td>3761-xxx</td>
                </tr>
                <tr>
                    <td>Endereço: </td>
                    <td>Terezinha - PE, Canhotinho - PE, Bom conselho - PE</td>
                </tr>
            </table>
    </div>
        
    </div>
</div>

</body>



</html>
