body{
    font-family: 'Poppins', sans-serif;
}
div a{
    display: inline-block;
  }
  div a{
    text-decoration:none ;
    color:#fff;
    padding:5px 20px ;
    border:1px solid transparent ;
  }
  
  div a:hover{
    background-color:#fff;
    color: #000;
  }

.link{
    text-decoration: none;
    font-size: 22px;
}
h3{
    text-align: center;
    margin: 50px auto;
}
.ulserve{
	flex-wrap: wrap;
}
.card{
    background-color: #fff;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0, 0.2);
}
.container{
  width: 100%;
    max-width: 98rem;
    padding: 5rem;
    background-color: #fff;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0, 0.2);
    margin: 50px auto;
    border-radius: .8rem;
    align-items: center;
    text-align: center;
   }

   body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    padding: 0 1.5rem;
    background-size: cover;
    background-position: center;
          width: 100%;
          position:absolute;
  }