<html>

  <head>
    <meta charset="utf-8">
    <title>Chat</title>
  </head>

  <header class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand btn" routerLink="/home">Home Easy</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn btn-primary" [routerLink]="['/usuario', userId]" role="button">Perfil</a>
        <a class="btn btn-primary" routerLink="/feed" role="button">Feed</a>
        <a class="btn btn-primary" routerLink="/sobrenos" role="button">Sobre Nós</a>
        <a class="btn btn-primary" routerLink="/contato" role="button">Contato</a>
        <a class="btn btn-primary" routerLink="/login" role="button" *ngIf="!entrarSair">Entrar</a>
        <a class="btn btn-primary" (click)="sair()" role="button" *ngIf="entrarSair">Sair</a>
      </div>
    </div>
   
  </header>

  <body>

    <div class="container">

       <div class="user1">
        <img *ngIf="usuario.foto" [src]="usuario.foto">
        <img *ngIf="!usuario.foto" src="https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png">
        <div><span>{{ usuario.nome }}</span></div>
      </div>
      <div class="user2" >
        Conversando com:
        <img *ngIf="servidor.foto" class="img-1" [src]="servidor.foto">
        <img *ngIf="!servidor.foto" class="img-1" src="https://i.pinimg.com/originals/ff/a0/9a/ffa09aec412db3f54deadf1b3781de2a.png">
        <div class="span"><span>{{ servidor.nome }}</span></div>
      </div>
      <br>
      
      <br>
      <div class="msg">
        <div class="mensagem">
      <div *ngFor="let msg of mensagensArray">

        <p *ngIf="msg.id == servidor.id" class="msg-1">{{ msg.mensagem }}</p>
  
        <p *ngIf="msg.id != servidor.id" class="msg-2">{{ msg.mensagem }}</p>
       </div>
      </div>
    </div>
    
      <br>
      <form class="forms" #f="ngForm"> 
        <div class="group ">
          <input type="text" class="input" placeholder="Digite uma mensagem..." [(ngModel)] = "mensagem.mensagem" name="mensagem" required > 
          <button type="submit" [disabled]="!f.valid" (click)="enviarMensagem()">Enviar</button>
        </div>
      </form>

    </div>

  </body>

</html>
