<!DOCTYPE html>
<html>
<head>
    <title>Login e Cadastro</title>

</head>



    
<header class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand btn" routerLink="/home">Home Easy</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn btn-primary" [routerLink]="['/usuario', userId]" role="button">Perfil</a>
        <a class="btn btn-primary" routerLink="/feed" role="button">Serviços</a>
        <a class="btn btn-primary" routerLink="/sobrenos" role="button">Sobre Nós</a>
        <a class="btn btn-primary" routerLink="/contato" role="button">Contato</a>
        <a class="btn btn-primary" routerLink="/login" role="button" *ngIf="!entrarSair">Entrar</a>
        <a class="btn btn-danger" (click)="sair()" role="button" *ngIf="entrarSair">Sair</a>
      </div>
    </div>
   
  </header>


<body>
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Entrar</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Cadastrar</label>
            <form class="login-form" #f="ngForm">
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <input type="email" class="input" [(ngModel)]="userLogin.email" name="email" required email>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Senha</label>
                        <input type="password" class="input" data-type="password" [(ngModel)]="userLogin.senha" name="password" required>
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Entrar" (click)="login()">
                    </div>
                    <div *ngIf="mensagemErro" class="alert alert-danger msgerror" role="alert">
                        {{mensagemErro}}
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a routerLink="/recuperar-senha">Esqueceu sua senha?</a>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="pass" class="label">Nome</label>
                        <input type="text" class="input" [(ngModel)]="userRegister.nome" name="nome" required>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Idade</label>
                        <input type="number" class="input" [(ngModel)]="userRegister.idade" name="idade" pattern="^$|^([1-9][8-9]|[9][9])?" required min="18" max="99" #rateInput2 = "ngModel">
                        <div *ngIf="rateInput2.errors && (rateInput2.dirty || rateInput2.touched)">
                            <div class="idade" [hidden]="!rateInput2.errors.pattern">
                                A sua idade deve ser acima de 18 anos!
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Email</label>
                        <input type="text" class="input" [(ngModel)]="userRegister.email" name="email" required email>
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Senha</label>
                        <input type="password" class="input" data-type="password" [(ngModel)]="userRegister.senha" name="password" required>
                    </div>
                    <div class="group">
                        <button value="Cadastrar" type="submit" class="button" [disabled]="!f.valid" (click)="register()">Cadastrar</button>
                    </div>
                    <div *ngIf="mensagemErro" class="alert alert-danger msgerror" role="alert">
                        {{mensagemErro}}
                    </div>
                    <div class="hr"></div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
