body{
	background: #ebecf1;
	height:100vh;
    background-size:cover;
    background-position:center;
	color: black;
	list-style: none;
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.view_item img{
	width: 75px;
}

.wrapper{
	width: 100%;
	margin: 20px auto;
}

.links{
	background: #fff;
	padding: 10px;
	border-radius: 3px;
}

.links ul{
	display: flex;
	justify-content: center;
}

.links ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active{
	color: #10a5e0;
}

.view_main{
	position:center;
	width: 1380px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}


.view_main .view_item:hover{
	filter: blur(0px);
	transform: scale(1.1);
	opacity: 1;
}
button{
        background: #10a5e0;
        width: 100px;
        border: none;
        outline: none;
        color: #fff;
		height: 56px;
        border-radius: 30px;
        margin-top: 20px;
        box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);

}

.list-view .view_item {
	background: #fff;
	border-radius: 10px;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left{
	margin-right: 25px;
}

.view_item .title{
	font-weight: 600;
}

.view_item .content{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
}

.view_item .btn{
	width: 105px;
	background: #10a5e0;
	padding: 8px 5px;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-weight: 200;
	cursor: pointer;
}

.view_item .btn:hover{
	background: #10a5e0;
}

.grid-view{
	width: 100%;
}

.grid-view .view_item {
	display: inline-block;
	border-radius: 10px;
    width: 230px;
    padding: 25px;
    text-align: center;
    margin: 10px;
}

.grid-view .view_item .vi_left{
	margin-bottom: 10px;
}

.grid-view .view_item .btn{
	margin: 0 auto;
}

.ulserve{
	flex-wrap: wrap;
}
.card{
	background: #fff;
	border-radius: 10px;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

