
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Perfil-Pel</title>
<link rel="stylesheet" href="style.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="card-container">
        <div class="header">
            
            <a href="#">
                <img Width=200px Heigth=250px src="https://uploaddeimagens.com.br/images/002/894/008/full/WhatsApp_Image_2020-09-24_at_19.46.05.jpeg?1600987648">
            </a>
            <h2>Péricles Soares</h2>
            <h4>Desenvolvedor Web</h4>
        </div>
        <div class="descricao">
            <p>Olá, sou Péricles, estou cursando o 4° ano do ensino técnico em informática</p>
        </div>
    </div>
</div>
</body>
</html>