
<body>
  <header>

    <img src="https://i.ibb.co/02jGf2r/oie-transparent-1.png">

  <div class="infousuario">
    <img class="avatar" Width=200px Heigth=250px src="https://lh3.googleusercontent.com/7IcXpRDRSec833SII8fMt6CcheD1YL2WTgCL1oJbMldf1XJJab1kGHenEEofc4urdnu0vyeEEvUDFuAX3ayChv2mFllqwIxXaIRVjUNpVgJ1iIYVgxwJ7R-oymQsEBXFppk5HmWuY2eUd1vLb48xYNJh5Fx1VwOGOXvLeD89ERxZ8M49k0f-AL1Vxilyp_Aj0-dW1WPHmFh3y8kGYgVPJXZTN3Pq8QkFEXqMJ5XhWsF4tshnI5xgcyDcoVCkUM3HenUmkhgw_0mkiKwfO0zC_D7TbcmrRlfah3wr7wg_I3u7RHoW5iiI28dow-ZDi-uomA6nVPZi1sgrd6nayOFdOXREFOq26vkuvmc109RUwfFjstKa4W5EryE8E8PP4S4CF419Rwrr5r8oY6UZRBlqHFKBoePqrTHdWqKDarukkhpAsourW4m1XnuAYiWb1ATs6ymO7yI8hSGavxqKqY52aHm-SoAXLpp6QkMIdWDc5gAsufCN6BJWTKaKSm3Dl-K5uf515i7_k3b313is3QQhTPGV22GGbnFH3v6TBNlDNUBPXpHphivXPCW3zwNG8m-QQu344-jUfKGJi23B9J_eH1tpGz_OSESvTpS0jP6cIZHWVz3gcICk8n2iFinnBmEN5cKkQIJPpthoyPWabyIyA-RyWH2fPCWVhlecoy9U14dEMYxplXKCl0AuF3Oogw=s625-no?authuser=0" alt="" />

    <h2 class="nome">
      Péricles Soares
    </h2>

  <div class="container" >
    <p>Olá, eu sou Péricles, estou cursando o 4º ano do ensino técnico em informatica. </p>
  </div>

  </div>
  </header>
  </body> 