body{
	font-family: 'Poppins', sans-serif;
}

.ulserve{
	flex-wrap: wrap;
}
.container{
	
	margin: 50px auto;
    
    position: relative;
    width: 100%;
   
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
	
	
}
h2{
	text-align: center;
}
.card{
	background-color: #fff;
	box-shadow: 0 1.4rem 8rem rgba(0,0,0, 0.2);
}
.serve{
    align-items: center;
    text-align: center;
    justify-content: center;
}