<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Perfil-Alv</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="card-container">
        <div class="header">
            
            <a href="#">
                <img Width=200px Heigth=250px src="https://uploaddeimagens.com.br/images/002/893/970/full/IMG_20200816_021513_767.jpg?1600985997">
            </a>
            <h2>Álvaro Miguel</h2>
            <h4>Desenvolvedor Web</h4>
        </div>
        <div class="descricao">
            <p>Sou estudante do Instituto Federal de Ciencia e Tecnologia de pernambuco, estou cursando o 4° ano do ensino técnico em informática.</p>
        </div>
    </div>
</div>
</body>
</html>
