<html>
  <head>
    <title>Perfil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">  
  </head>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
  <header class="navbar navbar-expand-lg navbar-light bg-primary">

    <a class="navbar-brand btn" routerLink="/home">Home Easy</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="btn btn-primary" [routerLink]="['/usuario', userId]" role="button">Perfil</a>
        <a class="btn btn-primary" routerLink="/feed" role="button">Serviços</a>
        <a class="btn btn-primary" routerLink="/sobrenos" role="button">Sobre Nós</a>
        <a class="btn btn-primary" routerLink="/contato" role="button">Contato</a>
        <a class="btn btn-primary" routerLink="/login" role="button" *ngIf="!entrarSair">Entrar</a>
        <a class="btn btn-danger" (click)="sair()" role="button" *ngIf="entrarSair">Sair</a>
      </div>
    </div>
   
  </header>

  <body>
      <h2>Avaliações</h2><br>

      <ul class="list-group list-group-horizontal ulserve">
        <li class="list-group-item card" *ngFor="let serve of AvaliacoesArray">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title">{{ serve.nomeContratante }}</h3>
              <h4>Nota: {{serve.avaliacaoNota}}</h4>
              <h4>Avaliação: {{serve.avaliacao}}</h4>
              <h4>Postado em: {{serve.data}}</h4>
            </div>
          </div>
        </li>
      </ul>

      <div *ngIf="AvaliacoesArray.length == 0">
        <br>
        <h2>Esse Profissional Ainda Não Possui Avaliações!</h2>
      </div>
  </body>

</html>

