<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Perfil-Alv</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="card-container">
        <div class="header">
            
            <a href="#">
                <img Width=200px Heigth=250px src="https://i.postimg.cc/xd0YpmtZ/70383590-422428778417887-5020432657365572859-n-1.jpg">
            </a>
            <h2>Carlos Sabino</h2>
            <h4>Desenvolvedor Web</h4>
        </div>
        <div class="descricao">
            <p>Sou estudante do Instituto Federal de Ciencia e Tecnologia de pernambuco, estou cursando o 4° ano do ensino técnico em informática.</p>
        </div>
    </div>
</div>
</body>
</html>
