
<!DOCTYPE html>
<html>

<head>
<title>Home Easy</title>
</head>
<body>
   <header> 
     <div class="main">
        <div class="logo">
         <img src="https://i.ibb.co/02jGf2r/oie-transparent-1.png">
       </div>
       <ul>
         <li><a routerLink="/profissional">Quero Ser um Profissional</a></li>
         <li><a routerLink="/profissional">Login</a></li>
         <li><a routerLink="/sobrenos">Sobre Nós</a></li>
         <li><a routerLink="/contato">Contato</a></li>
         
       </ul>
      </div>
      <div class="title">
        <h1>HOME EASY</h1>

      </div>
      <div class="button">
        <a routerLink="/feed" class="btn"> ENCONTRE UM SERVIÇO</a>
        <a routerLink="/login" class="btn"> CADASTRE-SE AGORA!</a>
      </div>
   </header>
</body>


</html>