<!DOCTYPE html>
<html>
<head>
	<title>Sobre nós</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/contato">Contato</a></li>
    </ul>
  <section class="team-section">
     <div class="container">
         <div class="row">
             <div class="section-title">
                 <h1>NOSSO TIME</h1>
                 <p>INTEGRANTES DO HOME EASY</p>
             </div>
         </div>
         <div class="row">
             <div class="team-items">
                  <div class="item">
                      <img src="https://uploaddeimagens.com.br/images/002/893/970/full/IMG_20200816_021513_767.jpg?1600985997" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Álvaro Miguel</h5>
                               <p>Designer</p>
                               <div class="social-links">
                                   <a href="facebook.com"><span class="fa fa-facebook"></span></a>
                                   <a href="twitter.com"><span class="fa fa-twitter"></span></a>
                                 
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="https://i.ibb.co/NmTZf5P/20210103-181834.png" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Carlos Sabino</h5>
                               <p>CEO</p>
                               <div class="social-links">
                                   <a href="facebook.com"><span class="fa fa-facebook"></span></a>
                                   <a href="twitter.com"><span class="fa fa-twitter"></span></a>
                                  
                               </div>
                          </div>
                      </div>
                  </div>
                  <div class="item">
                      <img src="https://uploaddeimagens.com.br/images/002/894/008/full/WhatsApp_Image_2020-09-24_at_19.46.05.jpeg?1600987648" alt="team" />
                      <div class="inner">
                          <div class="info">
                               <h5>Péricles Soares</h5>
                               <p>Analista</p>
                               <div class="social-links">
                                   <a href="facebook.com"><span class="fa fa-facebook"></span></a>
                                   <a href="twitter.com"><span class="fa fa-twitter"></span></a>
                               </div>
                          </div>
                      </div>
                  </div>
                  </div>
             </div>
         </div>
    
  </section>

</body>
</html>
