<!DOCTYPE html>
<html>
<head>
    <title>Sobre Nós</title>
</head>
  <body>
    <div class="container">

      <div class="descricao">
        <div class="main">
          <div class="logo">
           <img src="https://i.ibb.co/02jGf2r/oie-transparent-1.png">
         </div>
         <ul>
           <li><a routerLink="/duvidas">Dúvidas</a></li>
           <li><a routerLink="/sobrenos">Sobre Nós</a></li>
           <li><a routerLink="/contato">Contato</a></li>
         </ul>
        </div>
        <div class="title"><h1>Home Easy</h1></div>
      </div>

      <div class="row">
        <h1>Nosso Time</h1>
        <div class="column">
          <div class="carder">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRes8VQSbaKLmYnQ7WRsFsRK9NwRCRRiAXqrw&usqp=CAU"  height="150" width="250">
            <div class="nome">
             <h2>Álvaro Miguel</h2>
              <p><button class="button">Detalhes</button></p>
           </div>
          </div> 
        </div>
    
        <div class="column">
          <div class="carder">
            <img src="https://comicvine1.cbsistatic.com/uploads/original/11112/111121983/7033449-5261821280-MV5BM.jpg"  height="150" width="250">
            <div class="nome">
             <h2>Carlos Sabino</h2>
              <p><button class="button">Detalhes</button></p>
           </div>
          </div>
        </div>
    
        <div class="column">
          <div class="carder">
            <img src="https://comicvine1.cbsistatic.com/uploads/original/11117/111175090/7020186-4285644062-atrai.jpg"  height="150" width="250">
            <div class="nome">
              <h2>Péricles Soares</h2>
              <p><button class="button">Detalhes</button></p>
            </div>
          </div>
        </div>

      </div>

    </div>

  </body>
</html>